body{}

#anuncio{
    width: 100%;
    margin: auto;
}
.carro{
    float: left;
    width: 17%;
    height: 250px;
    padding: 10px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 3%;
    box-shadow: 1px 5px 10px gray;
}

.carro img{
    width: 100%;
    height: 100px;
    object-fit: cover;  
}

.fabricante{
    display: block;
    
}
.nome{
    font-family: sans-serif;
    font-weight: 800;
    
}
.anoKm{
    margin-top: 10px;
}

.ano{
    text-align: left;
    background-color: #009688;
    color: white;
    padding: 3px;
    margin-right: 10%;
    margin-top: 5px;
}

.km{
    text-align: right;
    background-color: #EF5350;
    color: white;
    padding: 3px;
    margin-top: -3px;
    float: right;
}

.preco{
    text-align: center;
    font-family: sans-serif;
    font-size: 16pt;
    font-weight: 800;
    margin-top: 20px;
}
.CorPorta{
    margin-top: 10px;
}

.cor{
    margin-right: 14%;
    font-weight: 700;
    font-size: 11pt;
}

.porta{
    font-weight: 700;
    font-size: 11pt;
    float: right;
}