body{
    background-color: #1565C0;
    font-family: sans-serif;
}

#cadastro{
    width: 60%;
    text-align: center;
    margin: auto;
    padding: 1%;
}


h1{
    font-weight: 800;
    color: white;
}

input{
    height: 35px;
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
    padding: 1%;
    margin-top: 1%;
    
}

.nome input{
    width: 100%;
}

.corPortasKM input{
    width: 32.9%;
}

.fabricante select{
    width: 49.5%;
    height: 35px;
    font-size: 15px;
    border: 0px;
    border-radius: 5px;
    padding: 1%;
}

.fabricante input{
    width: 49.5%;
}

.precoEFoto input{
    width: 49.5%;
}

button{
    width: 99.5%;
    height: 30px;
    margin-top: 1%;
    border: 0px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color: #2E7D32;
}



#anuncio{
    width: 60%;
    margin: auto;
}
.carro{
    float: left;
    width: 23%;
    height: 300px;
    padding: 10px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.carro img{
    width: 100%;
    object-fit: cover;  
}

.fabricante{
    display: block;
    
}
.nome{
    font-family: sans-serif;
    font-weight: 800;
    
}
.anoKm{
    margin-top: 10px;
}

.ano{
    text-align: left;
    background-color: #009688;
    color: white;
    padding: 3px;
    margin-right: 10%;
    margin-top: 5px;
}

.km{
    text-align: right;
    background-color: #EF5350;
    color: white;
    padding: 3px;
}

.preco{
    text-align: center;
    font-family: sans-serif;
    font-size: 16pt;
    font-weight: 800;
    margin-top: 20px;
}
.CorPorta{
    margin-top: 10px;
}

.cor{
    margin-right: 14%;
    font-weight: 700;
    font-size: 11pt;
}

.porta{
    font-weight: 700;
    font-size: 11pt;
}